body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: blue;
    color: chartreuse;
}

h1 {
    color: blue;
}

ul>li {
    /*child selector*/
    font-weight: bold;
}

ul>li:hover {
    color: blue;
}

ul>li:before {
    content:"🚀" ;
}

a:after {
    content: "🚀";
}

a {
    color: blue;
    text-decoration: double;
}

a:hover {
    color:chartreuse
}

p,
h1 {
    /*sibling selector*/
    background-color: brown;
}

p::first-letter {
    color: black;
    font-size: 50px;
}