body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: blue;
    color: chartreuse;
}

h1 {
    color: blue;
}

ul>li {
    /*child selector*/
    font-weight: bold;
}

ul>li:hover {
    color: blue;
}

ul>li: